.container{
    padding: 4rem 0;

    h1{
        text-align: center;
        padding: 1rem;
    }

    .content{
        max-width: 1200px;
        margin: auto;

        .pricelist{
            background-color: white;
            padding: 1rem;
            margin: 1rem 0;

            .headers{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.5rem;
                div{
                    display: flex;
                    justify-content: space-between;
                    p{
                        width: 80px;
                        text-align: center;
                    }
                }
            }

            .price{
                .priceElement{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.5rem;

                    .name{
                        margin-right: 0.5rem;
                        small{
                            font-weight: 200;
                        }
                    }

                    .header{
                        display: flex;
                        p{
                            width: 80px;
                            text-align: center;
                            font-size: 0.9rem;
                        }
                    }
                }
                .priceElement:nth-child(odd){
                    background-color: var(--clr-main-fade);
                }
            }
        }
        .pricelist:nth-child(even){

        }
    }
    @media (max-width: 600px){
        .content{    
            .pricelist{
                .headers{
                    div{
                        p{
                            width: 60px;
                            font-size: 0.8rem;
                        }
                    }
                }
    
                .price{
                    .priceElement{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0.5rem;
    
                        .name{
                            p{
                                font-size: 0.8rem;
                            }
                            small{
                                font-size: 0.7rem;
                            }
                        }
    
                        .header{
                            p{
                                width: 60px;
                                font-size: 0.8rem;
                            }
                        }
                    }
                    .priceElement:nth-child(odd){
                        background-color: var(--clr-main-fade);
                    }
                }
            }
        }
    }
}