.container{
    a{
        display: block;
        font-size: 1rem;
        padding: 0.5rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid transparent;

        span:nth-child(2){
            margin-left: 0.5rem;
        }
    }
}

.center{
    text-align: center;
}

.main{
    background-color: var(--clr-main);
    *{
        color: white;
    }

    &:hover{
        background-color: var(--clr-light);
        border: 1px solid black;
        color: black;
    }
}

.white{
    background-color: white;
    &:hover{
        background-color: var(--clr-light);
        border: 1px solid black;
        color: black;
    }
}

.dark{
    background-color: var(--clr-dark);
    *{
        color: white;
    }

    &:hover{
        background-color: var(--clr-light);
        border: 1px solid black;
        color: black;
    }
}

.black{
    background-color: black;
    *{
        color: white;
    }

    &:hover{
        background-color: var(--clr-dark);
        border: 1px solid black;
    }
}