.container{
    margin: 2rem;
    a{
        padding: 0.5rem 2.5rem;
        font-weight: 200;
        transition: ease-in-out 0.3s;
    }
}

.center{
    text-align: center;
}

.main{
    background-color: var(--clr-main);
    color: white;

    &:hover{
        background-color: var(--clr-light-light);
        border: 2px solid black;
        color: black;
    }
}

.white{
    background-color: white;
    color: var(--clr-main);

    &:hover{
        background-color: var(--clr-light-light);
        border: 2px solid black;
        color: black;
    }
}

.dark{
    background-color: var(--clr-dark);
    color: white;

    &:hover{
        background-color: var(--clr-light-light);
        border: 2px solid black;
        color: black;
    }
}

.black{
    background-color: black;
    color: white;
    border: 2px solid transparent;

    &:hover{
        background-color: var(--clr-light-light);
        border: 2px solid black;
        color: black;
    }
}