.container{
    background-color: var(--clr-main-fade);
    border: 1px solid white;
    min-height: 100vh;

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        margin: 1rem auto;
        margin-bottom: 5rem;
    }

    .element{
        padding: 0.5rem;
        background-color: white;
        margin: 1rem;
        .header{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0.5rem;
            h2{
                width: 100%;
            }
        }
        .item{
            padding: 0.5rem;
            border: 1px solid transparent;
            border-bottom: 1px solid var(--clr-main-fade) ;
            &:hover{
                background-color: var(--clr-main-fade);
            }
            div{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            span, p{
                font-weight: 200;
            }
            .name{
                margin-right: 1rem;
            }
            .discount{
                .name{
                    display: flex;
                    align-items: center;
                    span:nth-child(2){
                        background-color: var(--clr-red);
                        padding: 0 0.5rem;
                        margin-left: 0.5rem;
                        color: white;
                        font-size: 0.8rem;
                    }
                }
                .price{
                    s{
                        padding: 0 0.5rem;
                        margin-left: 0.5rem;
                        color: var(--clr-red);
                    }
                }
            }
        }
    }

    @media (max-width: 800px){
        .content{
            display: grid;
            grid-template-columns: 1fr;
        }
        .element{
            margin: 0.5rem 0;
            .item{
                span, p{
                    font-size: 0.9rem;
                }
            }
        }
    }

}