.container{
    margin: 1rem;

    .element{
        border: 1px solid black;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 100%;

        header{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .prices{

            .item{
                border-bottom: 1px dashed var(--clr-dark-light);
                padding: 0.3rem 0;
                cursor: pointer;
                &:hover{
                    border-color: var(--clr-main);
                }
                div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .discount{
                    .name{
                        display: flex;
                        align-items: center;
                        span:nth-child(2){
                            background-color: var(--clr-red);
                            padding: 0 0.5rem;
                            margin-left: 0.5rem;
                            color: white;
                            font-size: 0.8rem;
                        }
                    }
                    .price{
                        s{
                            padding: 0 0.5rem;
                            margin-left: 0.5rem;
                            color: var(--clr-red);
                        }
                    }
                }
            }
            .selected{
                background-color: var(--clr-light);
            }
        }
    }

}