.container{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-areas: "sidebar content";

    .sidebar{
        grid-area: sidebar;
        height: 100%;
    }

    .content{
        grid-area: content;
    }
}