.container{
    max-width: 500px;
    padding: 1rem;
    margin: 2rem auto;

    .done{
        margin: 1rem 0;
    }

    .marketing{
        border-top: 1px solid var(--clr-main);
        border-bottom: 1px solid var(--clr-main);
        margin: 0.5rem 0;
    }
    .errors{
        margin: 1rem 0;
        p{
            color: var(--clr-red);
        }
    }
}