:root{
    --clr-main: #663300;
    --clr-main-light: #fbe7e0;
    --clr-main-fade: rgb(251,247,239);
    --clr-main-transparent: rgba(219,185,118, 0.5);
    --clr-background: #F7E7CE;
    --clr-background-light: rgb(228, 226, 226);
    --clr-dark: #191919c5;
    --clr-dark-light: #34343452;
    --clr-light: #eeeeee;
    --clr-light-light: rgba(243, 243, 243, 0.891);

    --clr-red: rgb(236, 92, 92);
    --clr-blue: rgb(36, 116, 245);
    --clr-green: rgb(84, 210, 111);
    --clr-yellow: yellow;
}