:root{
    --clr-main: #663300;
    --clr-main-light: hsla(30, 100%, 20%, 0.9);
    --clr-main-fade: rgb(251,247,239);
    --clr-main-transparent: rgba(219,185,118, 0.5);

    --clr-background: #F7E7CE;
    --clr-background-light: rgb(228, 226, 226);
    
    --clr-brown-light: rgb(228, 220, 210);
    --clr-dark: #555555;
    --clr-grey: rgb(149, 149, 149); 
    --clr-light: rgb(226, 225, 225);
    --clr-fade: rgba(212, 211, 211, 0.204);
    --clr-red: rgba(235, 64, 64, 0.8);
}