.container{

    padding: 0.5rem;

    .brand{
        text-align: center;
        margin: 1rem;
        a{
            font-size: 1.3rem;
        }
    }

    nav{
        display: inline-flex;
        width: 100%;
        justify-content: center;

        .bar{
            position: relative;
            z-index: 10;

            &:hover{
                button{
                    color: var(--clr-main);
                }
            }

            button:hover + {
                ul{
                    display: block;
                }
            }
            ul{
                &:hover{
                    display: block;
                }
            }

            button{
                display: flex;
                align-items: center;
                padding: 1rem;
                width: 100%;
                font-weight: 200;
                svg{
                    margin-left: 0.5rem;
                }
            }

            ul{
                display: none;
                position: absolute;
                left: 0;
                background-color: white;
                width: 200px;

                li{
                    padding: 0.5rem 1rem;

                    a:hover{
                        color: var(--clr-main);
                    }
                }
            }
        }
    }

    .links{
        display: flex;
        justify-content: center;
        a{
            font-size: 0.9rem;
            font-weight: 200;
            padding: 0.4rem 0.5rem;
            &:hover{
                background-color: var(--clr-main-fade);
            }
        }
        .selected{
            background-color: var(--clr-main-fade);
        }
    }
}