.container{

    .loggedInContainer{
        border-bottom: 1px solid black;
        justify-content: center;
        padding: 0.5rem;
        text-align: center;

        &:hover{
            border-bottom: 1px solid var(--clr-main);
        }
    }

    .logoContainer{
        display: flex;
        justify-content: center;
    }

    .barsContainer{
        display: flex;
        justify-content: center;

        .bar{
            z-index: 10;
            position: relative;
            .dropdownBtn:hover + {
                ul{
                    display: block;
                }
            }
            ul{
                &:hover{
                    display: block;
                }
            };
            .dropdownBtn{
                display: flex;
                align-items: center;
                padding: 0.5rem 0.7rem;
                width: 100%;
                height: 40px;
                a{
                    font-size: 0.9rem;
                }
                svg{
                    margin-left: 0.5rem;
                }
            }
            .booknow{
                background-color: var(--clr-main);
                color: white;
                padding: 0.5rem;
                &:hover{
                    background-color: var(--clr-main-fade);
                    color: var(--clr-main);
                }
            }

            ul{
                display: none;
                position: absolute;
                left: 0;
                background-color: white;
                width: 200px;

                li{
                    padding: 0.3rem 1rem;
                    a:hover{
                        color: var(--clr-main-dark);
                    }

                    a, button{
                        font-size: 0.9rem;
                    }
                }
            }
        }
       
    }

    .fixedContainer{
        z-index: 10;
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        width: 100%;
    }
}