.container{
    width: 100%;

    textarea{
        background-color: var(--clr-light-light);
        padding: 0.5rem;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 0.5rem;
        box-sizing: border-box;
        resize: vertical;
        min-height: 100px;
        max-height: 300px;

        &:hover{
            border-color: var(--clr-main);
        }
    }

    label{
        width: 100%;
        margin-bottom: 0.2rem;
        font-weight: 200;
    }

    .red{
        color: var(--clr-red);
    }

    .double{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .black{
        background-color: var(--clr-black);
        color: white;
    }
}