.container{
    h1{
        text-align: center;
        padding: 2rem 1rem;
        font-size: 1.5rem;
        background-color: var(--clr-light-light);
    }
    p{
        font-size: 0.9rem;
        font-weight: 200;
    }

    .search{
        h3{
            text-align: center;
            margin-bottom: 1rem;
        }
        form{
            max-width: 500px;
            margin: 1rem auto;
            margin-bottom: 2rem;
            padding: 1rem;
            input{
                background-color: white;
                padding: 0.5rem 1rem;
                text-align: center;
                width: 100%;
                border-radius: 50px;
                transition: 0.2s ease-in-out;
                margin-bottom: 0.5rem;
                box-sizing: border-box;
                
                &:hover{
                    border-color: var(--clr-main);
                }
            }
        }
        .results{
            background-color: white;
            padding: 5rem 1rem;
            max-width: 1000px;
            margin: 1rem auto;
            padding: 2rem;
            .item{
                display: flex;
                margin-bottom: 1rem;
                b{
                    font-size: 1rem;
                    min-width: 30px;
                }
                p{
                    font-weight: 200;
                    white-space: pre-line;
                    margin-bottom: 0.5rem;
                }
                .answer{
                    color: rgb(62, 62, 62);
                }
            }
        }
    }

    .map{
        padding: 1rem;
        .element{
            border-bottom:2px solid white;
            margin: 1rem auto;
            max-width: 1000px;
            padding: 0.5rem;
            button{
                display: flex;
                align-items: center;
                svg{
                    transition: 0.5s;
                    font-size: 1.5rem;
                    display: flex;
                }
                p{
                    font-weight: 200;
                }
            }
            .open{
                transition: 0.5s;
                rotate: 90deg;
            }

            .question, .answer{
                white-space: pre-line;
            }

            .question{
                display: flex;
                align-items: center;
                padding: 0.5rem 1rem;
                svg{
                    font-size: 2rem;
                    display: flex;
                }
            }
            .answer{
                padding: 0.5rem 0;

            }
        }
    }
}