.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem;
    background-color: white;
    border-bottom: 1px solid var(--clr-main);
    position: sticky;
    top: 0;
    z-index: 100;

    .logo{
        a{
            padding: 0.3rem;
        }
    }

    .links{
        display: flex;
        a{
            display: block;
            font-size: 0.9rem;
            padding: 0.5rem;
            font-weight: 200;
            &:hover{
                background-color: var(--clr-main-fade);
            }
        }
        .selected{
            background-color: var(--clr-main-fade);
        }
    }
}