.container{
    margin: 4rem 0;

    h1{
        text-align: center;
        margin: 2rem;
    }

    .careers{
        max-width: 1000px;
        margin: auto;
        background-color: white;
        padding: 1rem 1rem;
        div{
            margin: 1rem;
            text-align: center;
            p{
                white-space: pre-line;
            }
        }
    }
}