.container{
    h1{
        text-align: center;
        padding: 2rem 1rem;
        font-size: 1.5rem;
    }
    .map{
        background-color: var(--clr-main-fade);
        padding: 1rem 0;
        .element{
            h2{
                text-align: center;
                padding: 2rem 1rem;
                font-size: 1.2rem;
                background-color: var(--clr-main-fade);
            }
            .text{
                max-width: 800px;
                margin: auto;
                padding: 1rem;
                div{
                    display: flex;
                }
                b{
                    font-size: 1.3rem;
                    margin-right: 1rem;
                }
                p{
                    margin: 0.5rem 0; 
                    white-space: pre-line;
                }
            }
        }
    }
}