.container{
  padding: 0.5rem;

  .headerContainer{
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    z-index: 10;
    a{
      text-align: center;
      width: 180px;
      margin: auto;
    }
    h2{
      border-bottom: 3px solid var(--clr-main);
      border-top: 3px solid var(--clr-main);
    }
    b{
      font-size: 0.7rem;
      margin-top: 0.1rem;
    }
    @media (max-width: 400px) {
      a{
        font-size: 0.8rem;
        width: 100%;
      }
      b{
        font-size: 0.6rem;
        display: none;
      }
      h2{
        border: none;
      }
    }
  }
  .hamburgerIsOpen{
    color: var(--clr-main);
    font-size: 0.8rem;
  }

  .barsContainer{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 0.5rem;

    a{
      padding: 0.4rem;
      background-color: var(--clr-main);
      color: white;
      width: 100px;
      text-align: center;
      font-size: 0.7rem;
      &:hover{
        background-color: var(--clr-main-dark);
      }
    }

    @media (max-width: 400px) {
      margin-top: 0rem;
    }
  }

  .menuContainer{
    background-color: var(--clr-main-fade);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;

    .actions{
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
    }

    .content{
      position: relative;
      margin-top: 0rem;

      .admin{
        border-bottom: 1px solid var(--clr-dark);
        h3, a{
          padding: 0.5rem 1rem;
          display: block;
          color: black;
        }
      }
      
      .bar{
        border-bottom: 1px solid var(--clr-dark-light);
        .btn{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 1rem;
        }
        &:hover{
          .btn{
            color: var(--clr-main-light);
          }
        }
        ul{
          background-color: white;
          padding: 0.5rem 1rem;
          li{
            margin: 0.5rem 0;
          }
          a{
            &:hover{
              color: var(--clr-main-light);
            }
          }
        }
      }
    }
  }
  .menuIsOpen{
    visibility:visible;
    opacity: 1;
    .content{
      animation: slideup 0.5s linear;
    }
    @keyframes slideup {
      0%{
        margin-top: 10rem;
      }
      100%{
        margin-top: 0;
      }
    }
  }
  .menuIsClose{
    .content{
      animation: slidedown 0.5s linear;
    }
    @keyframes slidedown {
      0%{
        margin-top: 0;
      }
      100%{
        margin-top: 10rem;
      }
    }
  }
}

.fixedContainer{
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  left: 0;
  z-index: 10;
  padding: 0.5rem 0;
}