.container{
  padding:0 0.5rem;
  padding-top: 0.5rem;

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sides{
      z-index: 16;
      width: 100px;
    }
    a{
      text-align: center;
      font-size: 1.3rem;
      width: 100%;
      small{
        display: block;
        font-size: 0.7rem;
      }
    }
  }
  .hamburgerIsOpen{
    position: relative;
    color: black;
    a{
      color: black;
    }
  }

  .bars{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    a{
      margin: 0 0.3rem;
      padding: 0.5rem;
      display: block;
      background-color: var(--clr-main);
      color: white;
      width: 100px;
      text-align: center;
      font-size: 0.9rem;

      &:hover{
        opacity: 0.8;
      }
    }
  }

  .menu{
    background-color: var(--clr-main-fade);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;

    .contents{
      position: relative;
      margin-top: 4rem;

      .admin{
        a, h3{
          padding: 1rem;
        }
      }
      
      .bar{
        border-bottom: 1px solid var(--clr-dark-light);
        .btn{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 1rem;
        }
        ul{
          background-color: white;
          padding: 0.5rem 1rem;
          li{
            margin: 0.5rem 0;
          }
          a{
            &:hover{
              color: var(--clr-main);
            }
          }
        }
      }
    }

  }

  .menuIsOpen{
    visibility:visible;
    opacity: 1;
    
    .contents{
      animation: slideup 0.5s linear;
    }

    @keyframes slideup {
      0%{
        margin-top: 10rem;
      }
      100%{
      margin-top: 4rem;
      }
    }
  }

  .menuIsClose{
    .contents{
      animation: slidedown 0.5s linear;
    }

    @keyframes slidedown {
      0%{
      margin-top: 4rem;
      }
      100%{
        margin-top: 10rem;
      }
    }
  }
      
}