.container{
    padding: 1rem;
    max-width: 1000px;
    margin: auto;
    
    .element{
        background-color: var(--clr-light-light);
        border: 1px solid transparent;
        padding: 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:hover{
            border: 1px solid var(--clr-dark-light);
        }
    }
    .selected{
        background-color: vaR(--clr-light);
    }
}