.empty{
    text-align: center;
    margin-top: 4rem;
}

.container{
    padding: 1rem;

    .header{
        border-bottom: 1px solid black;
        text-align: center;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    }
}