.empty{
    text-align: center;
    margin-top: 4rem;
}

.container{
    padding: 1rem;
    max-width: 1200px;
    margin: auto;

    .headerContainer{
        .header{
            border: 1px solid transparent;
            text-align: center;
            margin-bottom: 1rem;
            cursor: pointer;
            &:hover{
                border: 1px solid var(--clr-blue);
            }
        }
    }

    .child{
        position: relative;
        padding: 1rem;

        .element{
            background-color: var(--clr-light-light);
            margin: 1rem auto;
            padding: 1rem;
            gap: 1rem;
            display: grid;
            grid-template-columns: 35px 1fr 1fr;
            grid-template-areas: "reorder information images";
    
            .information, .images{
                border: 1px solid transparent;
                &:hover{
                    border: 1px solid var(--clr-blue);
                }
            }

            .reorder{
                grid-area: reorder;
                button{
                    padding: 0.5rem;
                    display: flex;
                    border: 1px solid transparent;
                    &:hover{
                        border: 1px solid var(--clr-blue);
                    }
                }
                .selected{
                    background-color: var(--clr-blue);
                }
            }
    
            .information{
                grid-area: information;
                padding: 1rem 0.5rem;
                h2{
                    margin-bottom: 0.5rem;
                }
                p{
                    white-space: pre-line;
                }
                button{
                    display: block;
                    border: 1px solid transparent;
                    padding: 0.5rem 3rem;
                    margin: 1rem 0;
                    background-color: black;
                    color: white;
                    &:hover{
                        border-color: var(--clr-blue);
                    }
                }
            }
            .images{
                grid-area: images;
                img{
                    width: 100%;
                    height: 300px;
                    background-color: var(--clr-light);
                }
            }
        }
    }

    @media (max-width: 800px){
        .child{
            .element{
                grid-template-columns: 1fr ;
                grid-template-areas: 
                "reorder"
                "images"
                "information";
            }
        }
    }
}