.container{
    border-top: 1px solid var(--clr-main);
    padding: 1rem;
    background-color: black;

    .information{
        padding: 0.5rem;
        display: flex;
        justify-content: space-around;

        section{
            margin: 1rem;
        }
        small, p, h1, h2, h3, span, b, a, svg{
            display: block;
            color: white;
            font-weight: 200
        }
        a, svg{
            transition: ease-in-out 0.3s;
            &:hover{
                color: var(--clr-main-light);
            }
        }
        b{
            font-weight: 400;
            margin-bottom: 0.5rem;
            color: var(--clr-main-light);
        }
        svg{
            font-size: 1.3rem;
        }

        .logo{
            h1{
                font-size: 3rem;
                font-weight: 600;
            }
            small{
                font-size: 0.8rem;
            }
            div{
                display: flex;
                gap: 0.4rem;
                border-top: 1px solid white;
                margin: 0.5rem 0;
                padding: 0.5rem 0;

                a{
                    font-size: 1.5rem;
                }
            }
        }

        .us{
            div{
                display: flex;
            }
            a, p{
                margin-bottom: 0.5rem;
                margin-left: 0.5rem;
            }
        }

        .links{
            a{
                margin-bottom: 0.5rem;
            }
        }
    }

    .copyright{
        padding: 0.5rem;
        border-top: 1px solid var(--clr-light-light);
        text-align: center;
        small{
            color: var(--clr-light-light);
        }
    }

}