.container{
    border-top: 1px solid var(--clr-main-light);
    padding: 1rem;
    background-color: var(--clr-main-fade);

    .about{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding: 1rem 0;
        b{
            display: block;
            margin-bottom: 1rem;
        }
        p, a{
            display: block;
            margin-bottom: 0.3rem;
        }
        b{
            color: var(--clr-main);
        }
    }

    .links{
        display: flex;
        border-top: 1px solid var(--clr-main-light);
        padding: 1rem;
        a{
            width: 100%;
            text-align: center;

            &:hover{
                color: var(--clr-main);
            }
        }
    }

    .copyright{
        padding: 0.5rem;
        border-top: 1px solid var(--clr-main-light);
        text-align: center;
        small{
            color: var(--clr-dark);
        }
    }

}