.container{

    section{
        padding: 2rem 0.5rem;
        border: 2px solid var(--clr-main-fade);
        margin: 0.1rem 0;
        background-color: var(--clr-main-fade);
        h3{
            text-align: center;
        }
    }

    .map{
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 1rem auto;
    }
    .element{
        img{
            width: 100px;
            height: 100px;
            border: 1px solid var(--clr-main);
            border-radius: 50%;
            margin: 1rem;
            background-blend-mode: multiply;
            filter: brightness(1.1)
        }
        p{
            text-align: center;
        }
    }

    @media (max-width: 600px){
        .element{
            width: 140px;
            img{
                width: 100px;
                height: 100px;
            }
            p{
                font-size: 0.9rem;
            }
        }
    }
}